<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>landing page</title>
  </head>
  <body>
    <h1>Bem-vindo à nossa landing page!</h1>
    <div class="container-header">
      <header>
        <div>
          <p>
            <a href="/components/contato/contato.html" target="_blank"
              >Contato</a
            >
          </p>
          <p>
            <a href="/components/SobreS/sobre.html" target="_blank">Sobre</a>
          </p>
        </div>
      </header>
      <div class="container-aside">
      <aside>
        <p>conteudo da pagina</p>
      </aside>
      <action>
        <p>mais conteudo da pagina</p></p>
      </action>
</div>
  </body>
</html>
