<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>landing page</title>
  </head>
  <body>
    <h1>Bem-vindo à nossa landing page!</h1>
    <header>
      <div id="nav-bar">
        <div class="btn-default-search">
          <input class="search" type="search" placeholder="Pesquisar" />
          <button
            type="button"
            class="btn btn-solid-primary btn--s btn--inline shopee-searchbar__search-button"
          >
            <svg
              height="19"
              viewBox="0 0 19 19"
              width="19"
              class="shopee-svg-icon"
            >
              <g fill-rule="evenodd" stroke="none" stroke-width="1">
                <g transform="translate(-1016 -32)">
                  <g>
                    <g transform="translate(405 21)">
                      <g transform="translate(611 11)">
                        <path
                          d="m8 16c4.418278 0 8-3.581722 8-8s-3.581722-8-8-8-8 3.581722-8 8 3.581722 8 8 8zm0-2c-3.3137085 0-6-2.6862915-6-6s2.6862915-6 6-6 6 2.6862915 6 6-2.6862915 6-6 6z"
                        ></path>
                        <path
                          d="m12.2972351 13.7114222 4.9799555 4.919354c.3929077.3881263 1.0260608.3842503 1.4141871-.0086574.3881263-.3929076.3842503-1.0260607-.0086574-1.414187l-4.9799554-4.919354c-.3929077-.3881263-1.0260608-.3842503-1.4141871.0086573-.3881263.3929077-.3842503 1.0260608.0086573 1.4141871z"
                        ></path>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </button>
       
        <p>
          <a href="/components/contato/contato.html" target="_blank">Contato</a>
        </p>
        <p>
          <a href="/components/SobreS/sobre.html" target="_blank">Sobre</a>
        </p>
      </div>
    </header>
    <div class="container-aside">
      <div class="caixa">
        <p>Caixa1</p>
        <img
          src="https://down-br.img.susercontent.com/file/br-11134207-7qukw-lf6y8whwqo7zce@resize_w900_nl.webp"
          alt="imagem"
        />
      </div>
      <div class="caixa2">caixa 2</div>
      <div class="caixa3">caixa 3</div>
    </div>
    <footer>
      <div class="menu_footer">
<div id="p_list">
  <p>Menu</p>
  <p>Item 1</p>
  <p>Item 2</p>
  <p>Item 3</p>
</div>
    <p>© 2025 Minha Empresa. Todos os direitos reservados.</p>
      </div>
    </footer>
  </body>
</html>
