body {
  background: linear-gradient(to right, #7b8fad, #3b5c88);
  margin: 0;
  justify-content: center;
}

h1 {
  margin-top: 0rem;
  margin-bottom: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  background: linear-gradient(
    to right,
    #3e71be,
    #d6d6d6,
    #3e71be,
    #d6d6d6,
    #3e71be,
    #d6d6d6
  );
  animation: identifier 3s infinite;
  background-size: 200% 100%;
}
@media screen {
  @keyframes identifier {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
}

.caixa img {
  display: flex;
  height: 50px;
  max-width: 100%;
  border-radius: 10px;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  margin-block-end: 30px;

  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 16px;
  width: 200px;
  transition: border-color 0.3s;
}

header {
  margin-top: 0;
  background: linear-gradient(to right, #3e71be, #d6d6d6, #3e71be);
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}
nav {
  gap: 20px;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

#nav-bar {
  display: flex;
  align-items: center;
  gap: 38px;
  justify-content: space-between;
  background: transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

a {
  text-decoration: none;
}

p {
  text-decoration: none;
  display: inline-block;
  margin-right: 20px; /* Espaçamento entre os parágrafos */
  flex-direction: right 100px;
}

section {
  background-color: #d6d6d6;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
}

.container-aside {
  justify-content: center;
  justify-content: space-between;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: 20px;
}

action {
  display: flex;
  background-color: #d6d6d6;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.caixa2 {
  width: 300px;
  height: 350px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.caixa3 {
  border-radius: 10px;
  width: 300px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}
.caixa {
  border-radius: 10px;
  width: 300px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.menu_footer {
  background: linear-gradient(to right, #3e71be, #d6d6d6, #3e71be);
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  flex-direction: column;
}

#p_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
